    <!--Step 0: get basic info-->
    <div class="frm-container">
        <div class="frm-item">
            <span class="frm-title">בחר סוג תספורת</span>
            <select name="haircuts" id="haircuts" [(ngModel)]="currentHc" (change)="updatePrice()">
                <option *ngFor="let hc of haircuts" [value]="hc.type">
                    {{hc.name}}
                </option>
            </select>
            <span id="price" *ngIf="this.price" [textContent]="this.price"></span>
        </div>
        <div class="frm-item">
            <span class="frm-title">שעות פנויות בתאריך</span>
            <input type="date" name="date" id="date" [(ngModel)]="this.chosenDate" (change)="fillHours()" />
        </div>
    </div>

    <!--Step 1: select available appointment-->
    <div *ngIf="(this.chosenDate != null || this.chosenDate != undefined)
     && (this.price != null || this.price != undefined)">
        <a *ngFor="let h of availableHours" dir="ltr" (click)="addTime(h)">
         {{padNumToStr(h.hour, 2)}} : {{padNumToStr(h.min, 2)}}
        </a> <br />
    </div>

    <!--Step 2: fill costumer details-->
    <form (submit)="sendAcceptenceCode()">
        <div *ngIf="canProccedToPayment">
            <div>
                <span>שם פרטי:</span>
                <input type="text" name="name" [(ngModel)]="name_first" />
            </div>

            <div>
                <span>שם משפחה</span>
                <input type="text" [(ngModel)]="name_last" name="last" />
            </div>

            <div>
                <span>מס' טלפון</span>
                <input type="text" name="phone" [(ngModel)]="tmp_phone" />
            </div>

            <div>
                <span>אימייל:</span>
                <input type="email" name="mail" [(ngModel)]="email" />
            </div>

            <div>
                <input type="submit" name="s" value="לאישור" />
            </div>
        </div>
    </form>
    <div *ngIf="canAccept">הקוד הוא 0x10f2c</div>

    <app-verifyer *ngIf="canAccept" [(accept)]="canCC" (afterFunc)="sendToServer()"></app-verifyer>

    <div *ngIf="canCC">
        תור נקבע!<br />
        <a onclick="alert('Some Credit Card Company')">שלם באשראי</a>
    </div>