<div class="row d-flex justify-content-center align-items-center" id="contact-frame">
    <form #contactPost="ngForm" (ngSubmit)="onSubmit(contactPost.value,contactPost)" class="bg-light">
        <fieldset class="d-flex justify-content-center">
            <div class="form-group">
                <legend>Client</legend>
                <div class="input-control">
                    <input type="text" class="form-control"  name="accountname" ngModel aria-describedby="nameHelp" placeholder="Your Name">
                </div>              
                <hr class="my-4">
                <legend>Email</legend>
                <div class="input-control">
                    <input type="text" class="form-control"  name="emailaddress1" ngModel aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <hr class="my-4">
                <legend>Billing</legend>
                <div class="input-control">
                    <input type="text" class="form-control"  name="billingcity" ngModel aria-describedby="billingcity" placeholder="Enter billingcity">
                </div>
                <hr class="my-4">
                <legend>Telephone Number</legend>
                <div class="input-control">
                    <input type="text" class="form-control"  name="telephone1" ngModel aria-describedby="subjectHelp" placeholder="Enter subject">
                </div>
                <hr class="my-4">
                <legend>ID Number</legend>
                <div class="input-control">
                    <input type="text" class="form-control"  name="idnumber" ngModel aria-describedby="subjectHelp" placeholder="Enter subject">
                </div>
                <div style="display:-ms-inline-grid">
                    <button type="submit" name="save" value="Save" class="btn btn-primary" style="justify-self: start;">
                        <i class="far fa-paper-plane fa-lg"></i>
                        Send
                    </button>
                </div>
                
            </div>
        
        </fieldset>
    </form>
</div>
