    <!--logo-->
    <div id="logo-container">
        <div class="container mx-auto grid place-items-center">
            <!--note: same ratio as the original picture-->
            <img src="assets/images/1.jpeg" height="564" width="400" />
            <img src="assets/images/logo.jpeg" alt="Yossi Sassi - Hair Fashion" />
        </div>
    </div>

    <!--main menu-->
    <div class="container flex mx-auto items-stretch justify-around">
        <div class="px-20 py-4 hover:bg-yellow-100"><a href="#" (click)="navToSched()">קבע תור</a></div>
        <div class="px-20 py-4 hover:bg-yellow-100"><a href="#" (click)="navToAlter()">שינוי תור</a></div>
        <div class="px-20 py-4 hover:bg-yellow-100"><a href="#" (click)="navToSignup()">הרשמה VIP</a></div>
        <div class="px-20 py-4 hover:bg-yellow-100"><a href="#" (click)="navToLogin()">כניסה VIP</a></div>
    </div>